{"swagger":"2.0","info":{"version":"v1","title":"nl.mijnaansluiting.netbeheerders"},"host":"services.mijnaansluiting.nl","basePath":"/netbeheerders","schemes":["https"],"paths":{"/api/AansluitingsObject/List/Delete":{"post":{"tags":["AansluitingsObject"],"operationId":"AansluitingsObject_DeleteMultiple","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObject/List":{"get":{"tags":["AansluitingsObject"],"operationId":"AansluitingsObject_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"},{"name":"orderby","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObject/List/Count":{"get":{"tags":["AansluitingsObject"],"operationId":"AansluitingsObject_CountItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObject/Code/{aansluitingsObjectCode}":{"get":{"tags":["AansluitingsObject"],"operationId":"AansluitingsObject_AllByCode","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"aansluitingsObjectCode","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObject/{id}":{"get":{"tags":["AansluitingsObject"],"operationId":"AansluitingsObject_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["AansluitingsObject"],"operationId":"AansluitingsObject_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["AansluitingsObject"],"operationId":"AansluitingsObject_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObject":{"get":{"tags":["AansluitingsObject"],"operationId":"AansluitingsObject_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AansluitingsObject"],"operationId":"AansluitingsObject_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/AansluitingsObject"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectenProducten/AansluitingsObject/{aansluitingsObjectId}":{"get":{"tags":["AansluitingsObjectenProducten"],"operationId":"AansluitingsObjectenProducten_AllByAansluitingsObjectId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"aansluitingsObjectId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectenProducten/Product/{productId}":{"get":{"tags":["AansluitingsObjectenProducten"],"operationId":"AansluitingsObjectenProducten_AllByProductId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"productId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AansluitingsObjectenProducten"],"operationId":"AansluitingsObjectenProducten_UpdateAansluitingsObjectenForProduct","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"productId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"aansluitingsObjectIds","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectenProducten/{id}":{"get":{"tags":["AansluitingsObjectenProducten"],"operationId":"AansluitingsObjectenProducten_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["AansluitingsObjectenProducten"],"operationId":"AansluitingsObjectenProducten_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["AansluitingsObjectenProducten"],"operationId":"AansluitingsObjectenProducten_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectenProducten":{"get":{"tags":["AansluitingsObjectenProducten"],"operationId":"AansluitingsObjectenProducten_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AansluitingsObjectenProducten"],"operationId":"AansluitingsObjectenProducten_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/AansluitingsObjectenProducten"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectGebruikerType/AansluitingsObject/{aansluitingsObjectId}":{"get":{"tags":["AansluitingsObjectGebruikerType"],"operationId":"AansluitingsObjectGebruikerType_GetByAansluitingObjectId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"aansluitingsObjectId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectGebruikerType":{"post":{"tags":["AansluitingsObjectGebruikerType"],"operationId":"AansluitingsObjectGebruikerType_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/AansluitingsObjectGebruikerType"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectGebruikerType/{id}":{"delete":{"tags":["AansluitingsObjectGebruikerType"],"operationId":"AansluitingsObjectGebruikerType_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["AansluitingsObjectGebruikerType"],"operationId":"AansluitingsObjectGebruikerType_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/aansluitingsobject-netbeheerder-setting/{id}":{"get":{"tags":["AansluitingsObjectNetbeheerderSetting"],"operationId":"AansluitingsObjectNetbeheerderSetting_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["AansluitingsObjectNetbeheerderSetting"],"operationId":"AansluitingsObjectNetbeheerderSetting_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["AansluitingsObjectNetbeheerderSetting"],"operationId":"AansluitingsObjectNetbeheerderSetting_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/aansluitingsobject/{aansluitingsObjectId}/aansluitingsobject-netbeheerder-setting":{"get":{"tags":["AansluitingsObjectNetbeheerderSetting"],"operationId":"AansluitingsObjectNetbeheerderSetting_GetByObjectId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"aansluitingsObjectId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/aansluitingsobject-netbeheerder-setting":{"get":{"tags":["AansluitingsObjectNetbeheerderSetting"],"operationId":"AansluitingsObjectNetbeheerderSetting_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AansluitingsObjectNetbeheerderSetting"],"operationId":"AansluitingsObjectNetbeheerderSetting_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/AansluitingsObjectNetbeheerderSetting"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectProcesVariant/List/Delete":{"post":{"tags":["AansluitingsObjectProcesVariant"],"operationId":"AansluitingsObjectProcesVariant_DeleteMultiple","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectProcesVariant/List":{"get":{"tags":["AansluitingsObjectProcesVariant"],"operationId":"AansluitingsObjectProcesVariant_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"},{"name":"orderby","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectProcesVariant/List/Count":{"get":{"tags":["AansluitingsObjectProcesVariant"],"operationId":"AansluitingsObjectProcesVariant_CountItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectProcesVariant/Download":{"get":{"tags":["AansluitingsObjectProcesVariant"],"operationId":"AansluitingsObjectProcesVariant_AansluitingsObjectProcesVariantDownload","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectProcesVariant/{id}":{"get":{"tags":["AansluitingsObjectProcesVariant"],"operationId":"AansluitingsObjectProcesVariant_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["AansluitingsObjectProcesVariant"],"operationId":"AansluitingsObjectProcesVariant_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["AansluitingsObjectProcesVariant"],"operationId":"AansluitingsObjectProcesVariant_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AansluitingsObjectProcesVariant":{"get":{"tags":["AansluitingsObjectProcesVariant"],"operationId":"AansluitingsObjectProcesVariant_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AansluitingsObjectProcesVariant"],"operationId":"AansluitingsObjectProcesVariant_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/AansluitingsObjectProcesVariant"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ActionCondition/{id}":{"get":{"tags":["ActionCondition"],"operationId":"ActionCondition_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["ActionCondition"],"operationId":"ActionCondition_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["ActionCondition"],"operationId":"ActionCondition_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ActionCondition":{"get":{"tags":["ActionCondition"],"operationId":"ActionCondition_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["ActionCondition"],"operationId":"ActionCondition_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/ActionCondition"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AnswerType/{answerTypeId}/ActionCondition":{"get":{"tags":["ActionConditionAnswerType"],"operationId":"ActionConditionAnswerType_GetItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"answerTypeId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ActionConditionAnswerType/{id}":{"get":{"tags":["ActionConditionAnswerType"],"operationId":"ActionConditionAnswerType_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["ActionConditionAnswerType"],"operationId":"ActionConditionAnswerType_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["ActionConditionAnswerType"],"operationId":"ActionConditionAnswerType_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ActionConditionAnswerType":{"get":{"tags":["ActionConditionAnswerType"],"operationId":"ActionConditionAnswerType_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["ActionConditionAnswerType"],"operationId":"ActionConditionAnswerType_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/ActionConditionAnswerType"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Address/{id}":{"get":{"tags":["Address"],"operationId":"Address_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Address"],"operationId":"Address_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["Address"],"operationId":"Address_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Address":{"get":{"tags":["Address"],"operationId":"Address_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Address"],"operationId":"Address_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/Address"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AlgemeneVoorwaarden/List":{"get":{"tags":["AlgemeneVoorwaarden"],"operationId":"AlgemeneVoorwaarden_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"},{"name":"orderby","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AlgemeneVoorwaarden/List/Count":{"get":{"tags":["AlgemeneVoorwaarden"],"operationId":"AlgemeneVoorwaarden_CountItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AlgemeneVoorwaarden/List/Delete":{"post":{"tags":["AlgemeneVoorwaarden"],"operationId":"AlgemeneVoorwaarden_DeleteMultiple","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AlgemeneVoorwaarden/Download":{"get":{"tags":["AlgemeneVoorwaarden"],"operationId":"AlgemeneVoorwaarden_ProjectMeldingDownload","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AlgemeneVoorwaarden/{id}":{"get":{"tags":["AlgemeneVoorwaarden"],"operationId":"AlgemeneVoorwaarden_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["AlgemeneVoorwaarden"],"operationId":"AlgemeneVoorwaarden_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["AlgemeneVoorwaarden"],"operationId":"AlgemeneVoorwaarden_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AlgemeneVoorwaarden":{"get":{"tags":["AlgemeneVoorwaarden"],"operationId":"AlgemeneVoorwaarden_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AlgemeneVoorwaarden"],"operationId":"AlgemeneVoorwaarden_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/AlgemeneVoorwaarden"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AnswerType/{id}":{"get":{"tags":["AnswerType"],"operationId":"AnswerType_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["AnswerType"],"operationId":"AnswerType_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["AnswerType"],"operationId":"AnswerType_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AnswerType":{"get":{"tags":["AnswerType"],"operationId":"AnswerType_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AnswerType"],"operationId":"AnswerType_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/AnswerType"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Availability/{id}":{"get":{"tags":["Availability"],"operationId":"Availability_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Availability"],"operationId":"Availability_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["Availability"],"operationId":"Availability_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Availability":{"get":{"tags":["Availability"],"operationId":"Availability_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Availability"],"operationId":"Availability_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/Availability"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AvailableNetbeheerderDisciplines/aansluitingsobject/{aansluitingsobjectId}":{"post":{"tags":["AvailableNetbeheerderDiscipline"],"operationId":"AvailableNetbeheerderDiscipline_GetAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"aansluitingsobjectId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"coordinates","in":"body","required":true,"schema":{"$ref":"#/definitions/Coordinates"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Branding/{id}":{"get":{"tags":["Branding"],"operationId":"Branding_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Branding"],"operationId":"Branding_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["Branding"],"operationId":"Branding_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Branding":{"get":{"tags":["Branding"],"operationId":"Branding_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Branding"],"operationId":"Branding_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/Branding"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/BTWCode/{id}":{"get":{"tags":["BTWCode"],"operationId":"BTWCode_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["BTWCode"],"operationId":"BTWCode_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["BTWCode"],"operationId":"BTWCode_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/BTWCode":{"get":{"tags":["BTWCode"],"operationId":"BTWCode_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["BTWCode"],"operationId":"BTWCode_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/BTWCode"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Company/{id}":{"get":{"tags":["Company"],"operationId":"Company_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Company"],"operationId":"Company_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["Company"],"operationId":"Company_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Company":{"get":{"tags":["Company"],"operationId":"Company_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Company"],"operationId":"Company_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/Company"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ContactPerson/{id}":{"get":{"tags":["ContactPerson"],"operationId":"ContactPerson_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["ContactPerson"],"operationId":"ContactPerson_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["ContactPerson"],"operationId":"ContactPerson_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ContactPerson":{"get":{"tags":["ContactPerson"],"operationId":"ContactPerson_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["ContactPerson"],"operationId":"ContactPerson_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/ContactPerson"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/CustomerService/{id}":{"get":{"tags":["CustomerService"],"operationId":"CustomerService_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["CustomerService"],"operationId":"CustomerService_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["CustomerService"],"operationId":"CustomerService_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/CustomerService":{"get":{"tags":["CustomerService"],"operationId":"CustomerService_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["CustomerService"],"operationId":"CustomerService_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/CustomerService"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Dienst/Discipline/{disciplineId}/Netbeheerder/{netBeheerderId}":{"get":{"tags":["Dienst"],"operationId":"Dienst_AllPublicItemsByDisciplineAndnetBeheerderId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"disciplineId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"netBeheerderId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Dienst/{id}":{"get":{"tags":["Dienst"],"operationId":"Dienst_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Dienst"],"operationId":"Dienst_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["Dienst"],"operationId":"Dienst_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Dienst":{"get":{"tags":["Dienst"],"operationId":"Dienst_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Dienst"],"operationId":"Dienst_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/Dienst"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Discipline/AansluitingsObject/{aansluitingsobjectId}":{"get":{"tags":["Discipline"],"operationId":"Discipline_All","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"aansluitingsobjectId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Discipline/Code/{disciplineCode}":{"get":{"tags":["Discipline"],"operationId":"Discipline_AllByCode","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"disciplineCode","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Discipline/{id}":{"get":{"tags":["Discipline"],"operationId":"Discipline_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Discipline"],"operationId":"Discipline_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["Discipline"],"operationId":"Discipline_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Discipline":{"get":{"tags":["Discipline"],"operationId":"Discipline_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Discipline"],"operationId":"Discipline_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/Discipline"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DisciplinesAansluitingsObjecten/AansluitingsObject/{aansluitingsObjectId}":{"get":{"tags":["DisciplinesAansluitingsObjecten"],"operationId":"DisciplinesAansluitingsObjecten_AllByAansluitingsObjectId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"aansluitingsObjectId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DisciplinesAansluitingsObjecten/{id}":{"get":{"tags":["DisciplinesAansluitingsObjecten"],"operationId":"DisciplinesAansluitingsObjecten_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["DisciplinesAansluitingsObjecten"],"operationId":"DisciplinesAansluitingsObjecten_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["DisciplinesAansluitingsObjecten"],"operationId":"DisciplinesAansluitingsObjecten_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DisciplinesAansluitingsObjecten":{"get":{"tags":["DisciplinesAansluitingsObjecten"],"operationId":"DisciplinesAansluitingsObjecten_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["DisciplinesAansluitingsObjecten"],"operationId":"DisciplinesAansluitingsObjecten_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/DisciplinesAansluitingsObjecten"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Disclaimer/List":{"get":{"tags":["Disclaimer"],"operationId":"Disclaimer_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"},{"name":"orderby","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Disclaimer/List/Count":{"get":{"tags":["Disclaimer"],"operationId":"Disclaimer_CountItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Disclaimer/List/Delete":{"post":{"tags":["Disclaimer"],"operationId":"Disclaimer_DeleteMultiple","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Disclaimer/Download":{"get":{"tags":["Disclaimer"],"operationId":"Disclaimer_ProjectMeldingDownload","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Disclaimer/{id}":{"get":{"tags":["Disclaimer"],"operationId":"Disclaimer_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Disclaimer"],"operationId":"Disclaimer_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["Disclaimer"],"operationId":"Disclaimer_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Disclaimer":{"get":{"tags":["Disclaimer"],"operationId":"Disclaimer_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Disclaimer"],"operationId":"Disclaimer_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/Disclaimer"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DocumentTemplate/List":{"get":{"tags":["DocumentTemplate"],"operationId":"DocumentTemplate_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"},{"name":"orderby","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DocumentTemplate/List/Count":{"get":{"tags":["DocumentTemplate"],"operationId":"DocumentTemplate_CountItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DocumentTemplate/List/Delete":{"post":{"tags":["DocumentTemplate"],"operationId":"DocumentTemplate_DeleteMultiple","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DocumentTemplate/{id}":{"get":{"tags":["DocumentTemplate"],"operationId":"DocumentTemplate_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["DocumentTemplate"],"operationId":"DocumentTemplate_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["DocumentTemplate"],"operationId":"DocumentTemplate_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DocumentTemplate":{"get":{"tags":["DocumentTemplate"],"operationId":"DocumentTemplate_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["DocumentTemplate"],"operationId":"DocumentTemplate_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/DocumentTemplate"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DocumentTemplateParameter/{id}":{"get":{"tags":["DocumentTemplateParameter"],"operationId":"DocumentTemplateParameter_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["DocumentTemplateParameter"],"operationId":"DocumentTemplateParameter_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["DocumentTemplateParameter"],"operationId":"DocumentTemplateParameter_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DocumentTemplateParameter":{"get":{"tags":["DocumentTemplateParameter"],"operationId":"DocumentTemplateParameter_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["DocumentTemplateParameter"],"operationId":"DocumentTemplateParameter_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/DocumentTemplateParameter"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DocumentTemplateType/{id}":{"get":{"tags":["DocumentTemplateType"],"operationId":"DocumentTemplateType_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["DocumentTemplateType"],"operationId":"DocumentTemplateType_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["DocumentTemplateType"],"operationId":"DocumentTemplateType_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DocumentTemplateType":{"get":{"tags":["DocumentTemplateType"],"operationId":"DocumentTemplateType_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["DocumentTemplateType"],"operationId":"DocumentTemplateType_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/DocumentTemplateType"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/NetBeheerder/MyItems":{"get":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_GetMyItems","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/NetBeheerder/List":{"get":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"},{"name":"orderby","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/NetBeheerder/List/Count":{"get":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_CountItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/NetBeheerder/All":{"get":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_AllItems","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/NetBeheerder/Contact":{"get":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_AllItemsOrderByDiscipline","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/NetBeheerder/Me":{"get":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_My","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/NetBeheerder/List/Delete":{"post":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_DeleteMultiple","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/NetBeheerder/Discipline/{disciplineId}":{"get":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_AllPublicItemsByDisciplineId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"disciplineId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/NetBeheerder/Code/{netBeheerderCode}":{"get":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_AllByCode","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"netBeheerderCode","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/NetBeheerder/OwnerGroup/{ownerGroupId}":{"post":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_CreateNetbeheerder","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateNetbeheerderModel"}},{"name":"ownerGroupId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/NetBeheerder/{id}":{"get":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/NetBeheerder":{"get":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["NetBeheerder"],"operationId":"NetBeheerder_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/NetBeheerder"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/PostBoxAddress/{id}":{"get":{"tags":["PostBoxAddress"],"operationId":"PostBoxAddress_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["PostBoxAddress"],"operationId":"PostBoxAddress_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["PostBoxAddress"],"operationId":"PostBoxAddress_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/PostBoxAddress":{"get":{"tags":["PostBoxAddress"],"operationId":"PostBoxAddress_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["PostBoxAddress"],"operationId":"PostBoxAddress_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/PostBoxAddress"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/PrijsComponent/List":{"get":{"tags":["PrijsComponent"],"operationId":"PrijsComponent_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"},{"name":"orderby","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/PrijsComponent/List/Count":{"get":{"tags":["PrijsComponent"],"operationId":"PrijsComponent_CountItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Product/{productId}/PrijsComponent/List":{"get":{"tags":["PrijsComponent"],"operationId":"PrijsComponent_ListItemsByProduct","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"productId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/PrijsComponent/List/Delete":{"post":{"tags":["PrijsComponent"],"operationId":"PrijsComponent_DeleteMultiple","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/PrijsComponent/{id}":{"get":{"tags":["PrijsComponent"],"operationId":"PrijsComponent_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["PrijsComponent"],"operationId":"PrijsComponent_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["PrijsComponent"],"operationId":"PrijsComponent_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/PrijsComponent":{"get":{"tags":["PrijsComponent"],"operationId":"PrijsComponent_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["PrijsComponent"],"operationId":"PrijsComponent_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/PrijsComponent"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/PrijsComponentAction/PrijsComponent/{prijsComponentId}/List":{"get":{"tags":["PrijsComponentAction"],"operationId":"PrijsComponentAction_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"prijsComponentId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/PrijsComponentAction/PrijsComponent/{prijsComponentId}/List/Delete":{"post":{"tags":["PrijsComponentAction"],"operationId":"PrijsComponentAction_DeleteMultiple","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},{"name":"prijsComponentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/PrijsComponentAction/{id}":{"get":{"tags":["PrijsComponentAction"],"operationId":"PrijsComponentAction_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["PrijsComponentAction"],"operationId":"PrijsComponentAction_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["PrijsComponentAction"],"operationId":"PrijsComponentAction_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/PrijsComponentAction":{"get":{"tags":["PrijsComponentAction"],"operationId":"PrijsComponentAction_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["PrijsComponentAction"],"operationId":"PrijsComponentAction_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/PrijsComponentAction"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ProcesVariant/{id}":{"get":{"tags":["ProcesVariant"],"operationId":"ProcesVariant_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["ProcesVariant"],"operationId":"ProcesVariant_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["ProcesVariant"],"operationId":"ProcesVariant_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ProcesVariant":{"get":{"tags":["ProcesVariant"],"operationId":"ProcesVariant_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["ProcesVariant"],"operationId":"ProcesVariant_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/ProcesVariant"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Product/List":{"get":{"tags":["Product"],"operationId":"Product_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"},{"name":"orderby","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Product/List/Count":{"get":{"tags":["Product"],"operationId":"Product_CountItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Product/List/Delete":{"post":{"tags":["Product"],"operationId":"Product_DeleteMultiple","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Product/SubDienst/{subDienstId}":{"get":{"tags":["Product"],"operationId":"Product_All","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"subDienstId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Product/Download":{"get":{"tags":["Product"],"operationId":"Product_ProductDownload","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Product/{id}":{"get":{"tags":["Product"],"operationId":"Product_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Product"],"operationId":"Product_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["Product"],"operationId":"Product_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Product":{"get":{"tags":["Product"],"operationId":"Product_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Product"],"operationId":"Product_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/Product"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ProductProcesVariant/Product/{productId}":{"get":{"tags":["ProductProcesVariant"],"operationId":"ProductProcesVariant_AllPublicItemsByProductId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"productId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ProductProcesVariant/{id}":{"get":{"tags":["ProductProcesVariant"],"operationId":"ProductProcesVariant_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["ProductProcesVariant"],"operationId":"ProductProcesVariant_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["ProductProcesVariant"],"operationId":"ProductProcesVariant_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ProductProcesVariant":{"get":{"tags":["ProductProcesVariant"],"operationId":"ProductProcesVariant_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["ProductProcesVariant"],"operationId":"ProductProcesVariant_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/ProductProcesVariant"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/List":{"get":{"tags":["Question"],"operationId":"Question_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"},{"name":"orderby","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionCodeExists/{questionCode}":{"get":{"tags":["Question"],"operationId":"Question_QuestionCodeNameExists","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"questionCode","in":"path","required":true,"type":"string"},{"name":"questionId","in":"query","required":false,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/List/Count":{"get":{"tags":["Question"],"operationId":"Question_CountItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/List/Delete":{"post":{"tags":["Question"],"operationId":"Question_DeleteMultiple","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/AntwoordUitVraag":{"get":{"tags":["Question"],"operationId":"Question_VragenVoorAntwoordUitVraag","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/PrijsComponentRegel":{"get":{"tags":["Question"],"operationId":"Question_VragenVoorPrijsComponentRegel","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/Test":{"get":{"tags":["Question"],"operationId":"Question_TestItems","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/AansluitingsObject/{aansluitingsObjectId}/SubDienst":{"post":{"tags":["Question"],"operationId":"Question_GetLocatieGebondenVragen","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"aansluitingsObjectId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"subDienstIds","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},{"name":"postalCode","in":"query","required":false,"type":"string"},{"name":"number","in":"query","required":false,"type":"integer","format":"int32"},{"name":"suffix","in":"query","required":false,"type":"string"},{"name":"disciplineIds","in":"query","required":false,"type":"array","items":{"type":"string","format":"uuid"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/Uploads":{"get":{"tags":["Question"],"operationId":"Question_GetAllUploads","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"aansluitingsObjectIds","in":"query","required":true,"type":"string"},{"name":"productIds","in":"query","required":true,"type":"string"},{"name":"subdienstIds","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/AansluitingsObject/{aansluitingsObjectId}/Uploads":{"get":{"tags":["Question"],"operationId":"Question_GetAllAansluitingsObjectUploads","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"aansluitingsObjectId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"productIds","in":"query","required":true,"type":"string"},{"name":"subdienstIds","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/Product/{productId}":{"get":{"tags":["Question"],"operationId":"Question_GetAllProductVragen","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"productId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/AansluitingsObject/{aansluitingsObjectId}/Product/{productId}":{"get":{"tags":["Question"],"operationId":"Question_GetProductGebondenVragen","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"aansluitingsObjectId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"productId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/Download":{"get":{"tags":["Question"],"operationId":"Question_ProductDownload","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question/{id}":{"get":{"tags":["Question"],"operationId":"Question_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Question"],"operationId":"Question_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["Question"],"operationId":"Question_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Question":{"get":{"tags":["Question"],"operationId":"Question_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Question"],"operationId":"Question_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/Question"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionAanvraagType/{id}":{"get":{"tags":["QuestionAanvraagType"],"operationId":"QuestionAanvraagType_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["QuestionAanvraagType"],"operationId":"QuestionAanvraagType_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["QuestionAanvraagType"],"operationId":"QuestionAanvraagType_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionAanvraagType":{"get":{"tags":["QuestionAanvraagType"],"operationId":"QuestionAanvraagType_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["QuestionAanvraagType"],"operationId":"QuestionAanvraagType_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/QuestionAanvraagType"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionAction/Question/{questionId}/List":{"get":{"tags":["QuestionAction"],"operationId":"QuestionAction_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"questionId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionAction/Position":{"get":{"tags":["QuestionAction"],"operationId":"QuestionAction_AllItems","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionAction/Question/{questionId}/Position/{positionId}":{"post":{"tags":["QuestionAction"],"operationId":"QuestionAction_AllItems","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"questionId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"positionId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"answerResult","in":"body","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionAction/PrijsComponent/Position":{"get":{"tags":["QuestionAction"],"operationId":"QuestionAction_AllPrijsComponentItems","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionAction/{id}":{"get":{"tags":["QuestionAction"],"operationId":"QuestionAction_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["QuestionAction"],"operationId":"QuestionAction_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["QuestionAction"],"operationId":"QuestionAction_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionAction":{"get":{"tags":["QuestionAction"],"operationId":"QuestionAction_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["QuestionAction"],"operationId":"QuestionAction_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/QuestionAction"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionGroupedRelation/Question/{questionId}":{"get":{"tags":["QuestionGroupedRelation"],"operationId":"QuestionGroupedRelation_GetQuestionGroupedRelationByQuestionId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"questionId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionGroupedRelation":{"post":{"tags":["QuestionGroupedRelation"],"operationId":"QuestionGroupedRelation_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/QuestionGroupedRelation"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionGroupedRelation/{id}":{"delete":{"tags":["QuestionGroupedRelation"],"operationId":"QuestionGroupedRelation_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionGroupedRelationType":{"get":{"tags":["QuestionGroupedRelationType"],"operationId":"QuestionGroupedRelationType_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionInfo/{id}":{"get":{"tags":["QuestionInfo"],"operationId":"QuestionInfo_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["QuestionInfo"],"operationId":"QuestionInfo_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["QuestionInfo"],"operationId":"QuestionInfo_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionInfo":{"get":{"tags":["QuestionInfo"],"operationId":"QuestionInfo_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["QuestionInfo"],"operationId":"QuestionInfo_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/QuestionInfo"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionRelation/Question/{questionId}/List":{"get":{"tags":["QuestionRelation"],"operationId":"QuestionRelation_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"questionId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionRelation/Question/{questionId}/List/Delete":{"post":{"tags":["QuestionRelation"],"operationId":"QuestionRelation_DeleteMultiple","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},{"name":"questionId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionRelation/{id}":{"get":{"tags":["QuestionRelation"],"operationId":"QuestionRelation_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["QuestionRelation"],"operationId":"QuestionRelation_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["QuestionRelation"],"operationId":"QuestionRelation_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/QuestionRelation":{"get":{"tags":["QuestionRelation"],"operationId":"QuestionRelation_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["QuestionRelation"],"operationId":"QuestionRelation_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/QuestionRelation"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/SubDienst/List":{"get":{"tags":["SubDienst"],"operationId":"SubDienst_ListItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"},{"name":"orderby","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/SubDienst/List/Delete":{"post":{"tags":["SubDienst"],"operationId":"SubDienst_DeleteMultiple","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/SubDienst/List/Count":{"get":{"tags":["SubDienst"],"operationId":"SubDienst_CountItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/SubDienst/Connected/Discipline/{disciplineId}/Netbeheerder/{netBeheerderId}/Dienst/{dienstId}":{"get":{"tags":["SubDienst"],"operationId":"SubDienst_AllConnectedItemsByDisciplineAndNetBeheerderId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"disciplineId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"netBeheerderId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"dienstId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/SubDienst/Discipline/{disciplineId}/Netbeheerder/{netBeheerderId}/Dienst/{dienstId}":{"get":{"tags":["SubDienst"],"operationId":"SubDienst_AllPublicItemsByDisciplineAndNetBeheerderId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"disciplineId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"netBeheerderId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"dienstId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/SubDienst/Discipline/{disciplineId}/Netbeheerder/{netBeheerderId}/Dienst/{dienstId}/AansluitingsObject/{aansluitingsObjectId}":{"get":{"tags":["SubDienst"],"operationId":"SubDienst_AllPublicItemsByDisciplineAndNetBeheerderId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"disciplineId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"netBeheerderId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"dienstId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"aansluitingsObjectId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/SubDienst/Create":{"post":{"tags":["SubDienst"],"operationId":"SubDienst_AddItem","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/SubDienst"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/SubDienst/Download":{"get":{"tags":["SubDienst"],"operationId":"SubDienst_SubdienstDownload","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/netbeheerder/{netbeheerderCode}/discipline/{disciplineCode}/dienst/{dienstCode}/subdienst/{code}":{"get":{"tags":["SubDienst"],"operationId":"SubDienst_GetSubdienstByRelations","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"netbeheerderCode","in":"path","required":true,"type":"string"},{"name":"disciplineCode","in":"path","required":true,"type":"string"},{"name":"dienstCode","in":"path","required":true,"type":"string"},{"name":"code","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/SubDienst/{id}":{"get":{"tags":["SubDienst"],"operationId":"SubDienst_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["SubDienst"],"operationId":"SubDienst_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"patch":{"tags":["SubDienst"],"operationId":"SubDienst_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"item","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/SubDienst":{"get":{"tags":["SubDienst"],"operationId":"SubDienst_GetMultiple","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["SubDienst"],"operationId":"SubDienst_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/SubDienst"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/sys/Product/{productId}":{"get":{"tags":["System"],"operationId":"System_ProductInfo","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"productId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/sys/Product/{productId}/Pricing":{"get":{"tags":["System"],"operationId":"System_ProductPricing","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"productId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}}},"definitions":{"AansluitingsObject":{"required":["endDate","startDate"],"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"code":{"type":"string"},"priority":{"format":"int32","type":"integer"},"profileType":{"format":"int32","type":"integer"},"addressType":{"format":"int32","type":"integer"},"endDate":{"format":"date-time","type":"string"},"isActive":{"type":"boolean"},"startDate":{"format":"date-time","type":"string"},"id":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"AansluitingsObjectenProducten":{"required":["endDate","startDate"],"type":"object","properties":{"aansluitingsObjectId":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"productId":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"endDate":{"format":"date-time","type":"string"},"isActive":{"type":"boolean"},"startDate":{"format":"date-time","type":"string"},"id":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"AansluitingsObjectGebruikerType":{"required":["endDate","startDate"],"type":"object","properties":{"netbeheerderID":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"disciplineID":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"aansluitingsObjectID":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"gebruikerType":{"maxLength":50,"minLength":0,"type":"string"},"endDate":{"format":"date-time","type":"string"},"isActive":{"type":"boolean"},"startDate":{"format":"date-time","type":"string"},"id":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"AansluitingsObjectNetbeheerderSetting":{"type":"object","properties":{"netbeheerder":{"$ref":"#/definitions/NetBeheerder"},"netbeheerderID":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"aansluitingsObject":{"$ref":"#/definitions/AansluitingsObject"},"aansluitingsObjectID":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"allowMultipleSubdiensten":{"type":"boolean"},"id":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"NetBeheerder":{"required":["endDate","startDate"],"type":"object","properties":{"name":{"type":"string"},"netBeheerderCode":{"type":"string"},"verwerkerCode":{"type":"string"},"websiteUri":{"type":"string"},"department":{"type":"string"},"primaryEmailAddress":{"type":"string"},"contactPersonID":{"format":"int32","type":"integer"},"companyID":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"primaryAddressID":{"format":"int32","type":"integer"},"secondaryAddressID":{"format":"int32","type":"integer"},"primaryPostBoxAddressID":{"format":"int32","type":"integer"},"secondaryPostBoxAddressID":{"forma
[...]
